
/* Фрейм для счётчика */
.counter_frame {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: center;
  
    height: 150px;
    background: #464646;
    border-radius: 100px;
    padding: 3%;
    margin-left: 30%;
    margin-right: 30%;
  }
  
  /* Стиль для текста внутри счётчика */
  .counter_text {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
  }
  
  /* Стиль для кнопок счётчика */
  .counter_button {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    text-align: center;
    color: black;
    padding: 10px;
    text-decoration: none;
    width: 60px;
    height: 60px;
  
    display: inline-block;
    background: #FFFFFF;
    border: 3px solid #B5B5B5;
    border-radius: 50%;
  }
  
  /* Реакция кнопки счётчика при наведении */
  .counter_button:hover {
    background: #fa5b5b;
    color: white;
    border-color: #000000;
  }
  