/* Применяется ко всем элементам */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Применяется ко всем элементам внутри тега html */
html {
  height: 100vh;
}

/* Применяется к корню проекта */
:root {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;

  color: rgba(255, 255, 255, 0.87);
  background-color: #DED3D3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Стиль верхнего фрейма */
.up_frame {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;

  padding-left: 5%;
  height: 150px;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #F93A3A;
}

/* Стиль для текста, находящегося внутри верхнего фрейма */
.up_text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
}

/* Контейнер для кнопок */
.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 100%;
  margin: 2%;
}

/* Стиль кнопки в основном состоянии */
.button {
  font-family: 'Inter';
  font-style: normal;
  font-size: 28px;
  text-align: center;
  color: black;
  padding: 10px;

  background: #FFFFFF;
  border: 3px solid #B5B5B5;
  border-radius: 20px;
}

/* Реакция кнопки при наведении */
.button:hover {
  background: #fa5b5b;
  color: white;
  border-color: #000000;
}

/* Фрейм для счётчика */
.counter_frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: center;

  height: 150px;
  background: #464646;
  border-radius: 100px;
  padding: 3%;
  margin-left: 30%;
  margin-right: 30%;
}

/* Стиль для текста внутри счётчика */
.counter_text {
  font-family: 'Inter';
  font-style: normal;
  font-size: 24px;
  text-align: center;
}

/* Стиль для кнопок счётчика */
.counter_button {
  font-family: 'Inter';
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: black;
  padding: 10px;
  text-decoration: none;
  width: 60px;
  height: 60px;

  display: inline-block;
  background: #FFFFFF;
  border: 3px solid #B5B5B5;
  border-radius: 50%;
}

/* Реакция кнопки счётчика при наведении */
.counter_button:hover {
  background: #fa5b5b;
  color: white;
  border-color: #000000;
}
